* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
}

.section {
    width: 100%;
    max-width: 1440px;
    padding: 49px 118.5px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        width: 1200px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        h1 {
            font-size: 36px;
            font-size: 700;
            width: 1200;
            height: 62px;
            text-align: center;
        }

        h2 {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 10px;
            line-height: 38px;
        }

        ul {
            padding-left: 35px;

            li {
                font-size: 16px;
                font-weight: 400;
                padding-left: 10px;
                margin-bottom: 10px;
                line-height: 30px;

            }
        }
    }
}