* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fff;
}

.hero_top {
    height: 912px;
    padding: 80px 94px;
}

.hero_top-main {
    height: 752px;
    width: 1252px;
    display: flex;
    padding: 40px 40px;
    border-radius: 16px;
    gap: 140px;
    box-shadow:
    4px 4px 40px rgba(0, 0, 0, 0.08),  /* bóng dưới phải */
   -4px -4px 40px rgba(0, 0, 0, 0.08);  /* bóng trên trái */
}


.item--reduce {
    width: 96px;
    height: 37px;
    background-color: #FA3636;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    margin-top: 12px;
    margin-left: 12px;
    border-radius: 4px;

    p {
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
    }
}


.book-info-1 p:nth-of-type(1) {
    padding: 4px 8px;
    font-size: 16px;
    background: #E9E9E9;
    width: 84px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.book-info-1 p:nth-of-type(3) {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.price {
    margin-bottom: 20px;
}

.price .current {
    color: #e60000;
    font-size: 32px;
    font-weight: 700;

}

.price .old {
    color: #BEBEBE;
    text-decoration: line-through;
    font-size: 15px;
}

.book-info-2 {
    height: 141px;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.book-info-2 p:nth-of-type(1) {
    font-size: 18px;
    font-weight: 700;
}

.book-info-2 p:nth-of-type(2) {
    font-size: 14px;
    font-weight: 400;
    color: #989898;
}

.book-info-3 {
    height: 76px;
    background-color: #F9F6F6;
    padding: 9px 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.highlight.green {
    color: #05AA6C;
    font-weight: 500;
}

.book-info-3 p {
    display: flex;
    align-items: center;
    gap: 4px;
}

.book-info-3 b {
    font-size: 16px;
    font-weight: 500;
}

.book-info-3 span {
    font-weight: 400px;
    font-size: 16px;
}

.book-info-4 {
    height: 68px;
    background-color: #F9F6F6;
    padding: 9px 13px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    margin-bottom: 20px;
}

.book-info-4 p:nth-of-type(1) {
    font-size: 16px;
    font-weight: 600;
}

.book-info-4 p:nth-of-type(2) {
    font-size: 16px;
    font-weight: 400;
}

.book-info-5 {
    height: 120px;
    padding-top: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}

.book-info-5 a {
    height: 57px;
    width: 275px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.book-info-5 img {
    height: 20px;
}

.book-info-5 a:nth-of-type(1) {
    color: white;
    background-color: #3382D0;
}

.book-info-5 a:nth-of-type(2) {
    color: #3382D0;
    border: 1px solid #3382D0;
}

.hero_bottom {
    height: 1558px;
    padding: 20px 91px 80px 91px;
}

.hero-list {
    height: 1418px;
    width: 1258px;
    padding: 40px 40px;
    background-color: #E9F0FF;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    
}

.item {
    width: 349px;
    height: 557px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    border: 1px solid #88B6E5;

    .item--reduce {
        width: 57px;
        height: 35px;
        background-color: #FA3636;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 10;
        margin-top: 12px;
        margin-left: 12px;
        border-radius: 4px;

        p {
            font-size: 12px;
            font-weight: 500;
            color: #ffffff;
        }
    }

    .item--img {
        width: 349px;
        height: calc(100% - 237px);
        background-color: rgb(236, 236, 236);
    }

    .item--title {
        width: 349px;
        height: 237px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .item--box {
            width: 289px;
            height: 185px;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .item--tag {
                width: 84px;
                height: 27px;
                border-radius: 4px;
                background-color: #E9E9E9;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    font-size: 16px;
                    font-weight: 500;
                    color: #000;
                }
            }

            .item--letter {
                width: 289px;
                height: 54px;

                p {
                    font-weight: 400;
                    font-size: 22px;

                }

            }

            .item--number {
                width: 289px;
                height: 46px;
                display: flex;
                align-items: center;
                gap: 2px;

                p:first-of-type {
                    font-weight: 700;
                    font-size: 20px;
                    color: #FA3636;
                }

                p:nth-of-type(2) {
                    font-weight: 500;
                    font-size: 12px;
                    color: #bebebe;
                    text-decoration: line-through;
                    text-decoration-thickness: 1.5px;
                    margin-top: 5px;
                }
            }

            a {
                width: 289px;
                height: 46px;
                background-color: #ffffff;
                border-radius: 8px;
                font-size: 16px;
                font-weight: 600;
                color: #3382D0;
                border: 1px solid #3382D0;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            a:hover {
                transform: scale(1.01);
                background-color: #3382D0;
                color: #ffffff;
                box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

.item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);

}
.hero-title{
    height: 58px;
    width: 454px;
}

.hero-title p {
    font-size: 48px;
    font-weight: 700
}

.hero-card-track {
    height: 1154px;
    display: flex;
    gap: 65.5px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 65.5px;
    row-gap: 40px;
}
.btn {
  display: inline-flex; 
  align-items: center;  
  justify-content: center; 
  gap: 10px; 
  background: none;
  color: #3382D0;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  border: 1px solid #3382D0;
  height: 46px;
  width: 300px;
}

.btn img {
  width: 16px;
  height: 16px;
}

