main {
  font-family: "Inter", sans-serif;
  width: 100%;
}
main .wrapper {
  max-width: 1440px;
  margin: auto;
  background-color: #ffff;
  width: 100%;
  padding: 49px 120px;
}
main .wrapper h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  margin-bottom: 16px;
  text-align: center;
  padding: 9px 0;
}
main .wrapper h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #000000;
  padding-right: 50px;
}
main .wrapper h2.welcome {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #000000;
  padding-right: 50px;
}
main .wrapper h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #000000;
  font-weight: bold;
}
main .wrapper li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  margin-left: 30px;
}
main .user + ul#user li {
  margin-left: 50px;
}

