.section {
    width: 100%;

    .wrapper {
        width: 100%;
        height: 906px;
        max-width: 1440px;
        margin: auto;
        display: flex;
        align-items: center;

        .wrapper--left {
            width: calc(100% - 739px);
            height: 906px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #DDEAFF;

            .section--left {
                width: 615px;
                height: 410px;
            }
        }


        .section--right {
            width: 739px;
            height: 906px;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            font-family: 'inter';
            font-weight: 500;

            .content {
                width: 503px;
                height: 821px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                gap: 16px;

                .name--register {
                    width: 503px;
                    height: 77px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h1 {
                        color: #3877CF;
                        font-size: 56px;
                        font-weight: 900;
                    }
                }

                .content--note {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    font-size: 20px;

                    .note--box {
                        width: 503px;
                        height: 86px;
                        display: flex;
                        flex-direction: column;
                        gap: 4px;

                        input {
                            width: 498px;
                            height: 43px;
                            border-radius: 8px;
                            border: 1px solid hsla(0, 0%, 0%, 0.25);
                            padding-inline: 45px 44px;
                        }

                        p {
                            width: 223px;
                            height: 39px;
                            display: flex;
                            align-items: center;
                        }

                        input[type=number]::-webkit-outer-spin-button,
                        input[type=number]::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }

                        input[type=number] {
                            -moz-appearance: textfield;
                        }
                    }
                }

                .tit {
                    width: 503px;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    gap: 7px;

                    input {
                        width: 18px;
                        height: 18px;
                        cursor: pointer;
                    }

                    label {
                        cursor: pointer;
                        font-size: 14px;
                        font-weight: 500px;
                    }
                }

                .button--register {
                    width: 503px;
                    height: 54px;
                    background-color: #88B6E5;
                    border: none;
                    border-radius: 10px;
                    color: #ffffff;
                    font-size: 20px;
                    cursor: pointer;
                }

                .button--register:hover {
                    background-color: #6ea6df;
                    box-shadow: 0 0 5px #6ea6df;
                    transform: scale(1.01);
                }

                .or {
                    width: 503px;
                    height: 24px;
                    font-size: 16px;

                    .line-text {
                        border: none;
                        border-top: 1px solid #d3d3d3;
                        color: #ABABAB;
                        text-align: center;
                        height: 0;
                        overflow: visible;
                        position: relative;
                        margin: 12px 0;
                    }

                    .line-text::after {
                        content: attr(data-content);
                        position: relative;
                        top: -1em;
                        background: #fff;
                        padding: 0 8px;
                        font-size: 13px;
                    }

                }

                .button--gg {
                    width: 503px;
                    height: 58.7px;
                    background-color: #ffffff;
                    border: 1px solid hsla(240, 0%, 42%, 0.25);
                    border-radius: 10px;
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 16px;
                    cursor: pointer;
                }

                .button--gg:hover {
                    box-shadow: 0 0 5px #d7d7d7;
                    transform: scale(1.01);
                }

                img {
                    width: 42px;
                    height: 42.7px;
                }
            }

            .end {
                width: 503px;
                height: 18px;
                display: flex;
                gap: 2px;
                justify-content: center;
                align-items: center;
                font-size: 12px;

                a {
                    color: #F80E0E;
                    text-decoration: none;
                }

                a:hover {
                    color: #ff0000;
                    transform: scale(1.01);
                }
            }
        }
    }
}