* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter',sans-serif;
}
.btn-register {
    width: 95%;
    padding: 10px 20px;
    background: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
}
.btn-register:hover {
    background: #FFFFFF;
    color: #3382D0;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 56px;
    height: 77px;
    color: #3877CF;
    font-family: 'Inter', sans-serif;
    margin-top: 30px;
    white-space: nowrap;
}
.auth-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-color {
    background: #DDEAFF;
    width: 615px;
    height: 410px;
}
.auth-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.auth-left {
    display: flex;
    justify-content: center;
    background: #DDEAFF;
    align-items: center;
}
.auth-box {
    width: 90%;
    max-width: 739px;
}
form {
    display: flex;
    flex-direction: column;
}
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.form-row {
    display: flex;
    flex-direction: column;
}
.form-row label {
    display: flex;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #181818;
}
.username {
    height: 39px;
    align-items: center;
}
.password {
    height: 53px;
    align-items: center;
}
.checkbox {
    display: flex;
    gap: 8px;
    align-items: center;
}
.input-field {
    width: 95%;
    padding: 9px 8px;
    border-radius: 8px;
    border: 1px solid #00000040;
    box-shadow: 0px 4px 10px 0px #00000040;
    outline: none;
    font-size: 16px;
    background: transparent;
}

.input-field:focus {
    border-color: #3877CF;
    box-shadow: 0 0 0 2px rgba(14,122,68,0.2);
}
.checkbox-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin: 12px 0;
}
.forgot-password {
    display: flex;
    justify-content: flex-end;
}
.color-btn-password {
    color: #ABABAB;
}
.btn-login {
    width: 95%;
    padding: 17px;
    background: #88B6E5;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.btn-login:hover {
    background: #588fd7;
}
.divider {
  text-align: center;
  margin: 20px 0;
  color: #999;
}
.btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
.icon-gg {
    width: 41.999996185302734px;
    height: 42.70000076293945px;
}
.register-row {
    text-align: center;
    margin-top: 12px;
    font-size: 14px;
}

.register-row a {
    color: #e14b4b;
    text-decoration: none;
    font-weight: 600;
}

.register-row a:hover {
    text-decoration: underline;
}