body {
    font-family: 'Inter',sans-serif;
}
.btn-register {
    width: 95%;
    padding: 10px 20px;
    background: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
}
.btn-register:hover {
    background: #FFFFFF;
    color: #3382D0;
}
.auth-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    height: 906px;
}
.logo-color {
    width: 615px;
    height: 410px;
}
.auth-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    height: 906px;
}
.auth-left {
    display: flex;
    justify-content: center;
    background: #DDEAFF;
    align-items: center;
    width: calc(100% - 739px);
    height: 906px;
}
.auth-right {
    width: 739px;
    height: 906px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
.auth-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.name-login {
    width: 503px;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-weight: 900;
    font-size: 56px;
    color: #3877CF;
    font-family: 'Inter', sans-serif;
    white-space: nowrap;
}
.form-row {
    display: flex;
    flex-direction: column;
}
.form-row label {
    display: flex;
    font-weight: 500;
    font-size: 20px;
    color: #181818;
}
.username {
    height: 39px;
    align-items: center;
}
.password {
    height: 39px;
    align-items: center;
}
.checkbox {
    display: flex;
    gap: 8px;
    align-items: center;
}
.input-field {
    width: 498px;
    height: 43px;
    padding-left: 20px;
    border-radius: 8px;
    border: 1px solid #00000040;
    outline: none;
    font-size: 16px;
    background: transparent;
    border: 1px solid hsla(0, 0%, 0%, 0.25);
}

.input-field:focus {
    border-color: #000000;
    box-shadow: 0 0 0 1px #000000
}
.checkbox-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
.forgot-password {
    display: flex;
    justify-content: flex-end;
}
.size {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.color-btn-password {
    color: #ABABAB;
    text-decoration: none;
}
.btn-login {
    width: 503px;
    padding: 17px;
    background: #88B6E5;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.btn-login:hover {
    transform: scale(1.01);
    box-shadow: 0 5px 10px #88B6E5;
}
.login {
    text-decoration: none;
    color: #FFFFFF;
}
.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #999;
    width: 503px;
    margin: 11.2px 0;
}
.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #999; 
}
.divider:not(:empty)::before {
    margin-right: .75em;
}
.divider:not(:empty)::after {
    margin-left: .75em;
}
.btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 503px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
.btn-google:hover {
    transform: scale(1.01);
    box-shadow: 0 5px 10px  rgba(0,0,0,0.18);
}
.icon-gg {
    width: 41.999996185302734px;
    height: 42.70000076293945px;
}
.register-row {
    text-align: center;
    font-size: 14px;
}

.register-row a {
    color: #e14b4b;
    text-decoration: none;
    font-weight: 600;

    display: inline-block;
    transition: transform 0.2s ease, text-decoration-color 0.2s ease;
}

.register-row a:hover {
    transform: translateY(-1px) scale(1.01);
    text-decoration: none;
}