.section{
    width: 100%;
    max-width: 1440px;
    height: 2050px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper{
        width: 1200px;
        height: ;
    }
}
