footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 49px 130px;
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
  height: 298px;
  background: #3382d0;
  opacity: 0.8;
  font-family: "Inter", sans-serif;
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    .img {
      gap: 10px;
      width: 134px;
      height: 144px;
    }
    .text {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
    }
  }
  .infor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 195px;
    gap: 10px;
    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      a {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline solid rgba(255, 255, 255, 0.7);
      }
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
      li {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.7);
        text-decoration: none;
        display: flex;
        align-items: center;
      }
      .icon {
        width: 24px;
        height: 24px;
      }
    }
  }
}
