:root {
  --bg: #f2f6ff;
  --card: #ffffff;
  --muted: #6b7280;
  --primary: #1f7ed0;
  --accent: #05aa6c;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #fff;

}

.hero {
  height: 442px;
  padding: 60px 100px;
  background-color: #DDEAFF;
  display: flex;
  justify-content: center;
}

.hero_read {
  display: flex;
  align-items: center;

}

.hero_read-left {
  height: 253px;
  width: 444px;
}

.hero_read-left p {
  font-size: 20px;
}

.hero_read-left button {
  padding: 10px 20px;
  border: 2px solid #3382D0;
  font-size: 20px;
  color: #3382D0;
  background: none;
  border-radius: 8px;
  cursor: pointer;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95px;
  padding: 20px 247px;

}

.search-box {
  display: flex;
  align-items: center;
  border: 1.5px solid #3877CF;
  border-radius: 16px;
  overflow: hidden;
  width: 888px;
  height: 68px;
  background: white;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 400;
}

input::placeholder {
  color: #C2C1C1;
}

.search-box button {
  width: 98px;
  height: 68px;
  border: none;
  background: none;
  padding: 10px 14px;
  cursor: pointer;
  color: #555;
  font-size: 34px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box button svg{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.search-box button:hover {
  color: #007bff;
}

/* Thanh menu */
.top-menu {
  height: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-menu ul {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  list-style: none;
  width: 1173px;

}

.top-menu li {
  background: #89bff5;
  width: 143px;
  padding-block: 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.top-menu li{
  color: white;
}

.top-menu li:hover {
  background: #6d8fd3;
  transform: translateY(-2px);
}

.top-menu a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}

/* Phần nội dung */
.section {
  text-align: center;
}

.section h2 {
  margin-bottom: 20px;
  font-size: 44px;
  height: 157px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Carousel */
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #DDEAFF;
  padding: 31px;
  position: relative;
  overflow: hidden;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #88B6E580;
  border: none;
  border-radius: 42px;
  width: 84px;
  height: 84px;
  font-size: 38px;
  cursor: pointer;
  z-index: 10;
  color: #000;
  transition: 0.3s ease;
}

.carousel button:hover {
  background: #88B6E5;
  transform: translateY(-50%) scale(1.1);
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.carousel-track {
  display: flex;
  gap: 20px;
  transition: transform 0.8s ease;
}


.carousel .card {
  width: 434px;
  height: 305px;
  background: linear-gradient(#c8c8c8 60%, #fff 40%);
  border-radius: 16px;
  flex-shrink: 0;
  opacity: 0.5;
  transform: scale(0.8) rotateY(0deg);
  transition: transform 0.6s ease, opacity 0.6s ease;
  cursor: pointer;
}

.carousel:nth-of-type(1) {
  .card {
    width: 434px;
    height: 520px;
    background: transparent;
  }

  .card img {
    height: 100%;
  }
}

.card.active {
  transform: scale(1) rotateY(0deg);
  opacity: 1;
  z-index: 3;
}

.card.left {
  transform: scale(0.85) rotateY(15deg);
  opacity: 0.7;
  z-index: 2;
}

.card.right {
  transform: scale(0.85) rotateY(-15deg);
  opacity: 0.7;
  z-index: 2;
}