* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

.hero_left {
    height: 934px;
    width: 466px;
    background-color: #DDEAFF;
    padding: 63px 42px 563px 42px;
}

.hero_left-list {
    height: 308px;
    width: 382px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero_left-list h2 {
    font-size: 36px;
    font-weight: 600;
    padding-left: 8px;
    height: 44px;
}

.hero_left-list p {
    font-size: 20px;
    font-weight: 300;
    padding:4px 22px;
    height: 33px;
}

.hero_left-list a {
    width: 382px;
    height: 64px;
    background-color: #FFFFFF7A;
    border-radius: 8px;
    border: 1px solid #ABABAB;
    display: flex;
    gap: 13px;
    padding: 11px 11px;
    text-decoration: none;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    color: black;
}

.hero_left-list img {
    height: 26.5px;
    width: 26px;
}

.hero_left-list a:hover {
    background: rgba(136, 182, 229, 0.5);
}

.hero_right {
    height: 934px;
    width: 974px;
    padding: 64.5px 4px;
}

.hero-list {
    height: 805px;
    width: 965px;
    display: flex;
    flex-direction: column;
    gap: 17px;

}

.item {
    width: 247px;
    height: 350px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    border: 1px solid #88B6E5;

    .item--reduce {
        width:227px;
        height: 41px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        margin-top: 12px;
        margin-left: 12px;
        padding: 3px 0px;

        p {
            font-size: 12px;
            font-weight: 500;
            color: #ffffff;
            background-color: red;
            height: 35px;
            width: 57px;
            z-index: 10;
            padding: 10px 12px;
            border-radius: 4px;
        }
        img{
            height: 19px;
            width: 18.1px;
        }
    }
    .item--reduce-notsale{
        width:227px;
        height: 41px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        margin-top: 12px;
        margin-left: 12px;
        padding: 3px 0px;

    }    
    

    .item--img {
        width: 247px;
        height: 142px;
        background-color: #DDDBE8;
    }

    .item--title {
        width: 247px;
        height: 208px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 12px 30px 17px 30px;

        .item--box {
            width: 187px;
            height: 179px;
            display: flex;
            flex-direction: column;
            gap: 6px;

            .item--tag {
                width: 93px;
                height: 27px;
               
                display: flex;
                align-items: center;
                

                p {
                    font-size: 16px;
                    font-weight: 500;
                    color: #000;
                    padding: 4px 8px;
                    background: #E9E9E9;
                    border-radius: 4px;                    
                }
            }

            .item--letter {
                width: 187px;
                height: 54px;

                p {
                    font-weight: 400;
                    font-size: 22px;

                }

            }

            .item--number {
                width: 187px;
                height: 34px;
                display: flex;
                align-items: center;
                padding: 0px 13px 10px 1px;
                gap: 2px;

                p:first-of-type {
                    font-weight: 700;
                    font-size: 20px;
                }

                p:nth-of-type(2) {
                    font-weight: 500;
                    font-size: 12px;
                    color: #bebebe;
                    text-decoration: line-through;
                    text-decoration-thickness: 1.5px;
                    margin-top: 5px;
                }
            }

            a {
                width: 187px;
                height: 46px;
                background-color: #ffffff;
                border-radius: 8px;
                font-size: 16px;
                font-weight: 600;
                color: #3382D0;
                border: 1px solid #3382D0;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }

            a:hover {
                transform: scale(1.01);
                background-color: #3382D0;
                color: #ffffff;
                box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

.item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);

}

.hero-title {
    height: 62px;
    width: 965px;
    padding: 12px 38px 12px 47px;
}

.hero-title p {
    font-size: 40px;
    font-weight: 700;
}

.hero-card-track {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 44px;
    row-gap: 26px;
}
.hero-card-track-wrapper {
    height: 726px;      /* chỉnh tùy bố cục bạn muốn */
    overflow-y: auto;
    padding-right: 12px;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background: #d0d0d0;
        border-radius: 5px;
    }
}
