* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section {
    width: 100%;
    max-width: 1440px;
    height: 2342px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'inter';

    .wrapper {
        width: 1258px;
        height: 2242px;
        display: flex;
        flex-direction: column;
        gap: 32px;

        .wrapper--search {
            width: 1258px;
            height: 92px;
            display: flex;
            align-items: center;
            justify-content: center;

            .search {
                width: 900px;
                margin: 0 auto;
                display: flex;
                align-items: center;
                border-radius: 8px;
                border: 1px solid #3877CF;

                input {
                    border: none;
                    width: 850px;
                    height: 54px;
                    border-radius: 8px;
                    padding-left: 25px;
                    font-size: 20px;
                }

                input:focus {
                    outline: none;
                }

                img {
                    width: 28px;
                    height: 28px;
                }
            }

        }

        .wrapper--title {
            width: 1258px;
            height: 39px;

            h1 {
                text-align: center;
                font-weight: 600;
                font-size: 32px;
            }
        }

        .wrapper--card {
            width: 1258px;
            height: 1971px;
            display: flex;
            background-color: #E9F0FF;
            justify-content: center;
            align-items: center;
            border-radius: 16px;

            .list_product {
                display: flex;
                gap: 65.5px;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                column-gap: 65.5px;
                row-gap: 100px;

                .item {
                    width: 349px;
                    height: 557px;
                    border-radius: 12px;
                    background-color: rgb(255, 255, 255);
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
                    position: relative;
                    border: 1px solid #88B6E5;

                    .item--reduce {
                        width: 57px;
                        height: 35px;
                        background-color: #FA3636;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        z-index: 10;
                        margin-top: 12px;
                        margin-left: 12px;
                        border-radius: 4px;

                        p {
                            font-size: 12px;
                            font-weight: 500;
                            color: #ffffff;
                        }
                    }

                    .item--img {
                        width: 349px;
                        height: calc(100% - 237px);
                        background-color: rgb(236, 236, 236);
                    }

                    .item--title {
                        width: 349px;
                        height: 237px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .item--box {
                            width: 289px;
                            height: 185px;
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            .item--tag{
                                width: 84px;
                                height: 27px;
                                border-radius: 4px;
                                background-color: #E9E9E9;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                p{
                                    font-size: 16px;
                                    font-weight: 500;
                                    color: #000;
                                }
                            }
                            .item--letter {
                                width: 289px;
                                height: 54px;

                                p {
                                    font-weight: 400;
                                    font-size: 22px;

                                }

                            }

                            .item--number {
                                width: 289px;
                                height: 46px;
                                display: flex;
                                align-items: center;
                                gap: 2px;

                                p:first-of-type {
                                    font-weight: 700;
                                    font-size: 20px;
                                    color: #FA3636;
                                }

                                p:nth-of-type(2) {
                                    font-weight: 500;
                                    font-size: 12px;
                                    color: #bebebe;
                                    text-decoration: line-through;
                                    margin-top: 5px;
                                }
                            }

                            a {
                                width: 289px;
                                height: 46px;
                                background-color: #ffffff;
                                border-radius: 8px;
                                font-size: 16px;
                                font-weight: 600;
                                color: #3382D0;
                                border: 1px solid #3382D0;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            a:hover {
                                transform: scale(1.01);
                                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                            }
                        }
                    }
                }

                .item:hover {
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);

                }
            }


        }

        .wrapper--page {
            width: 342px;
            height: 44px;
            margin: 0 auto;
            display: flex;
            gap: 8px;

            .page--out {
                width: 89px;
                height: 44px;
                border-radius: 4px;
                background-color: #ffffff;
                font-weight: 400;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                color: #000000;
                border: 1px solid #d9d9d9;
            }

            .page--out:hover {
                background-color: #d9d9d9;
            }

            .page--in {
                width: 44px;
                height: 44px;
                border-radius: 4px;
                background-color: #ffffff;
                font-weight: 400;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                color: #000000;
                border: 1px solid #d9d9d9;
            }

            .page--in:hover {
                background-color: #d9d9d9;
            }
        }
    }
}