* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter';
}

.section {
    width: 1440px;
    height: 1695px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        width: 1260px;
        height: 1612px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        .wrapper--title {
            width: 100%;
            height: 44px;
            display: flex;
            align-items: center;

            h1 {
                font-weight: 700;
                font-size: 36px;
            }

            img {
                width: 6.3px;
                height: 52px;
                margin-right: 12px;
            }
        }

        .wrapper--content {
            height: 1742px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 40px;

            .content--1 {
                width: 100%;
                height: 400px;
                background: rgba(221, 234, 255, 0.5);
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
                border-radius: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 20px;

                .content--1--letter {
                    width: 1172px;
                    height: 36px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;


                    h2 {
                        font-size: 24px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    .kit {
                        width: 57px;
                        height: 36px;
                        border: 2px solid#3877cf;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        p {
                            font-weight: 600;
                            font-size: 24px;
                            color: #3877cf;

                        }
                    }
                }

                .content--1--img {
                    width: 1160px;
                    height: 284px;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .more--img {
                        width: 1160px;
                        height: 248px;
                        position: relative;
                        a {
                            width: 100%;
                            height: 100%;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                        input{
                            opacity: 0;
                            position: absolute;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            left: 0;
                        }
                        input:hover{
                            cursor: pointer;
                        }
                    }
                    .more--img:hover{
                        background: rgba(221, 234, 255, 0.45);
                        border-radius: 10px;
                    }

                    p {
                        color: #c80000;
                        font-size: 14px;
                        font-weight: 300;
                    }
                }
            }
        }

        .content--2 {
            width: 100%;
            height: 970px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(221, 234, 255, 0.5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            border-radius: 16px;

            .content--box {
                width: 1174px;
                height: 883px;
                display: flex;
                flex-direction: column;

                .box--1 {
                    width: 100%;
                    height: 36px;
                    margin-bottom: 37px;

                    h2 {
                        font-size: 24px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                    }
                }

                .box--2 {
                    width: 100%;
                    height: 609px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    margin-bottom: 40px;

                    .item--1 {
                        width: 100%;
                        height: 117px;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        h3 {
                            font-size: 20px;
                            font-weight: 400;
                            width: 1160px;
                            height: 47px;
                            display: flex;
                            align-items: center;
                            gap: 5px;
                        }

                        input {
                            width: 1174px;
                            height: 60px;
                            padding-left: 20px;
                            font-size: 20px;
                            font-weight: 300;
                            border-radius: 6px;
                            border: 1px solid #bebebe;
                            padding-right: 20px;
                        }
                    }

                    .item--2 {
                        width: 100%;
                        height: 117px;

                        display: flex;
                        gap: 34px;

                        .in--1 {
                            width: 570px;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            h3 {
                                width: 201px;
                                height: 47px;
                                font-size: 20px;
                                font-weight: 400;
                                display: flex;
                                align-items: center;
                                gap: 5px;
                            }

                            input {
                                width: 570px;
                                height: 60px;
                                border-radius: 6px;
                                border: 1px solid #bebebe;
                                padding-left: 20px;
                                font-size: 20px;
                                font-weight: 300;
                                padding-right: 20px;
                            }

                            input[type=number]::-webkit-outer-spin-button,
                            input[type=number]::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }

                            input[type=number] {
                                -moz-appearance: textfield;
                            }
                        }
                    }

                    .item--3 {
                        width: 100%;
                        height: 203px;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        label {
                            width: 1160px;
                            height: 42px;
                            font-size: 20px;
                            font-weight: 400;
                            display: flex;
                            align-items: center;
                        }

                        textarea {
                            width: 1174px;
                            height: 151px;
                            border-radius: 8px;
                            border: 1px solid #bebebe;
                            padding-left: 20px;
                            font-size: 20px;
                            font-weight: 300;
                            padding-top: 16px;
                            padding-left: 20px;
                            padding-right: 15px;
                            padding-bottom: 20px;
                            resize: none;

                        }

                        textarea:focus::placeholder {
                            opacity: 0;
                        }
                    }
                }

                input:focus::placeholder {
                    opacity: 0;
                }

                .box--3 {
                    height: 161px;
                    width: 100%;

                    h4 {
                        font-size: 24px;
                        font-weight: 600;
                        color: #fa3636;
                        margin-left: 8px;
                    }

                    ul {
                        margin-left: 38px;

                        li {
                            font-size: 20px;
                            font-weight: 300;
                        }
                    }
                }
            }
        }

        .content--3 {
            width: 100%;
            height: 78px;
            display: flex;
            justify-content: space-between;

            a {
                width: 620px;
                height: 80px;
                font-weight: 400;
                font-size: 32px;
                text-decoration: none;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;

            }

            a:nth-child(1) {
                border: 1px solid #3382d0;
                color: #3382d0;
            }

            a:hover:nth-child(1) {
                background-color: #f1f1f178;
                color: #3382d0;
                border: 1px solid #3382d0;

            }

            a:nth-child(2) {
                background-color: #3382d0;
                border: none;
                color: #ffffff;
            }

            a:hover:nth-child(2) {

                color: #ffffff;
                background-color: #257ace;
            }
        }
    }
}