* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter';
}

.section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
        width: 100%;
        display: flex;
        align-items: center;

        .wrapper--box {
            width: 100%;
            display: flex;
            align-items: center;
            background-color: #e9e9e9;
            overflow: hidden;

            .wrapper--left {
                width: 436px;
                height: 100dvh;
                background-color: #eeeeee;

                .wrapper--left--1 {
                    width: 100%;
                    height: 136px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #ffffff;
                    border-left: 1px solid #e9e9e9;
                    border-right: 1px solid #e9e9e9;
                    border-bottom: 1px solid #e9e9e9;

                    .width--s {
                        width: 354px;
                        height: 60px;
                        display: flex;
                        align-items: center;
                        background-color: #eeeeee;
                        border-radius: 20px;

                        img {
                            width: 34px;
                            height: 34px;
                            margin-left: 20px;
                            margin-top: 7px;
                        }

                        input {
                            width: 300px;
                            height: 54px;
                            background-color: #eeeeee;
                            border: none;
                            border-radius: 12px;
                            font-weight: 400;
                            font-size: 24px;
                            padding-left: 20px;
                            padding-right: 20px;
                        }

                        input:focus::placeholder {
                            opacity: 0;


                        }

                        input:focus {
                            outline: none;
                        }
                    }
                }

                .wrapper--left--2 {
                    width: 100%;
                    height: 1087px;
                    overflow-y: auto;
                    scrollbar-width: none;

                    .wrapper--item {
                        width: 100%;
                        height: 101px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #ffffff;
                        gap: 6px;
                        border: 1px solid #e9e9e9;
                        padding-inline: 20px;

                        img {
                            width: 64px;
                            height: 64px;
                        }

                        .item--letter {
                            width: 336px;
                            height: 47px;
                            margin-bottom: 2px;
                            display: flex;
                            flex-direction: column;
                            gap: 7px;

                            .item--letter--1 {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                p:nth-of-type(1) {
                                    font-size: 20px;
                                    font-weight: 500;
                                    color: #000;
                                }

                                p:nth-of-type(2) {
                                    font-size: 15px;
                                    font-weight: 500;
                                    color: #c1c1c1;
                                }
                            }

                            p {
                                font-size: 13px;
                                font-weight: 300;
                                color: #bebebe;

                            }
                        }
                    }
                }

                .wrapper--item:hover {
                    cursor: pointer;
                    background-color: #f5f5f5;
                }
            }

            .wrapper--right {
                width: 100%;
                height: 100dvh;
                background-color: #ffffff;

                .wrapper--right--1 {
                    width: 100%;
                    height: 136px;
                    display: flex;
                    align-items: center;
                    background-color: #ffffff;

                    img {
                        width: 64px;
                        height: 64px;
                        margin-left: 60px;
                        margin-right: 20px;
                    }

                    p {
                        font-size: 32px;
                        font-weight: 600;
                    }
                }

                .wrapper--right--2 {
                    width: 100%;
                    height: calc(100% - 333px);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow-y: auto;
                    scrollbar-width: none;
                    background-color: #ffffff;
                }

                .wrapper--right--3 {
                    width: 100%;
                    height: 197px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #ffffff;

                    .right--3--box {
                        background-color: #eeeeee;
                        border-radius: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 881px;
                        height: 89px;

                        input {
                            background-color: #eeeeee;
                            border: none;
                            width: 615px;
                            height: 80px;
                            font-size: 30px;
                            font-weight: 400;
                            border-radius: 30px;
                            padding-left: 10px;
                            margin-right: 23px;
                        }

                        input:focus {
                            outline: none;
                        }

                        input:focus::placeholder {
                            opacity: 0;
                        }

                        .icon--1 {
                            width: 70px;
                            height: 70px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;

                            img {
                                width: 39px;
                                height: 39px;
                            }

                            img:hover {
                                cursor: pointer;

                            }
                        }

                        .icon--1:hover {
                            background-color: #d1d1d1;
                        }

                        .icon--1:active {
                            background-color: #bfbfbf;
                        }

                        .icon--1:nth-of-type(1) {
                            font-size: 40px;
                            font-weight: 400;
                            color: #444343;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding-bottom: 4.5px;

                        }
                    }
                }
            }
        }
    }
}